* {
    font-family: Helvetica,Arial,sans-serif;
}
.nav-options{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(95, 95, 95);
}
.nav-main{
    width: 90%;
}
.nav-back{
    background-color: #fff;
    color: grey;
}
.nav-link {
    color: grey;
    font-size: 16px;
    font-weight: 600;
}
.search-bar1{
    width: 40%;
    border-radius: 10%;
}
.search-bar2{
    display: none;
}
.form-control:focus{
    outline:none;
}

[type='search']{
    /* border-radius: 10px; */
    font-size: 14px;
    height: 36px;
    outline: 0 none;
    padding: 0 16px;
}
[type='search']:focus{
    outline: none;
}


.nav-pills .show>.nav-link {
    color: grey;
    background-color: transparent;
}
.dropdown-menu.show {
    margin-top:8px ;
    width: 500px;
    font-size: 14px;
}
.navbar-menus{
    font-size: 14px;
    background-color: #003380;
    padding: 10px;
    color: white;
}
.drop-menu-text > .nav-link{
    font-size: 13px;
    transform: 0.4s;
}
.drop-menu-text > .nav-link:hover{
    color: rgb(203, 203, 203);
    transform: 0.4s;
}
.dropdown-toggle .nav-link{
    color: white;
}
.user-ico{
    padding-right:8px;
    font-size: 24px;
}
.cart-ico{
    padding-right:8px;
    font-size: 26px;
}
.side-options-nav{
    display: flex;
    gap: 15%;
    flex-direction: row;
    align-items: center;
}
.nav-icons{
    display: flex;
    align-items: center;
}

.navbar-toggler:focus{
    outline: none;
    color: transparent;
    border: none;
}

.navbar-toggler {
    box-shadow: 0;
    border: none;
    outline: none;
}

.sidebar-menus{
    display: none;
}


.facebook-ico {
    font-size: 20px;
    color: white;
}

.twitter-ico{
    font-size: 20px;
    color: white;
}

.login-form{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
}
input[type="email"],input[type="text"],input[type="password"]{
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
}

.loginbutton {
    width: 50%;
    margin: auto;
}

.loginbutton{
    display: inline-block;
    width: 50%;
    margin: auto;
    font-weight: 400;
    background-color: #151517;
    color: white;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.75rem 1.2rem;
    font-size: 1.2rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.loginbutton:hover{
    background-color: #f7ab3e;
    color: #151517;
}
.recover-options{
    display: flex;
    width: 85%;
    justify-content: space-between;
    margin: auto;
}
.create-acc{
    padding-bottom: 1px;
    border-bottom: 1px solid black;
}
.create-acc:hover{
    cursor: pointer;
}


@media (min-width: 992px) {
    .navbar-expand-lg .offcanvas {
        flex-grow: 0;
    }
}

@media only screen and (min-width:340px) and (max-width:480px) {
    .side-options-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20%;
        font-size: 20px;
    }
    .search-bar1{
       display: none !important;
    }
    .navbar-menus{
        display: none;
    }
    .social-full-area {
        flex-direction: column;
    }
    .search-bar2 {
        display: flex;
        margin: auto;
        width: 90%;
    }
    
    [type='search']{
        margin-top: 4%;
        border-radius: 1%;
    }
     .sidebar-menus{
        display: flex;
        flex-direction: column;
        margin-top: 8%;
    }

    .sidebar-menus > .list-group-item+.list-group-item {
        padding:15px 0px;
        margin-left: 5%;
    }

}

@media only screen and (min-width:481px) and (max-width:890px) {
    .search-bar1{
        display: none !important;
     }
     .search-bar2 {
        display: flex;
        width: 90%;
        margin: auto;
     }

     [type='search']{
        margin-top: 4%;
        border-radius: 1%;
     }
     .navbar-menus{
        display: none;
    }
    .sidebar-menus{
        display: flex;
        flex-direction: column;
        margin-top: 10%;
    }
   
    
}